VITE_RECAPTCHA_SITE_KEY=6Lc3m5EtAAAAAC8OvFYuwydUgXKYDQ1U4CKUmd9B
RECAPTCHA_SECRET_KEY=6Lc3m5EtAAAAAIBNCpVzbMII2g2vZXqNwNqqjJhK

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password

BENTA_INQUIRY_RECIPIENT=hello@example.com
BENTA_EMAIL_FROM=Benta Website <no-reply@example.com>
