VITE_RECAPTCHA_SITE_KEY=6LdPkZEtAAAAAKGb69aNjsM1Qx0SI2Ws_H1Rei2H
RECAPTCHA_SECRET_KEY=6LdPkZEtAAAAAFDBw_SYxlE4mkTQP7pND7bkYbQX

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=jmlasterminguito@gmail.com
SMTP_PASS=wpftxjaqydpljemj

BENTA_INQUIRY_RECIPIENT=hello@example.com
BENTA_EMAIL_FROM=Benta Website <no-reply@example.com>
